<html>
<head></head>
<body class="vsc-initialized">
  <main role="main" class="container">
    <div class="row row-offcanvas row-offcanvas-right">
      <div class="col-12 col-md-9 container">
          <% @journal_feeds.each do |journal_feed| %>
              <%= content_tag(:div, journal_title_and_date(journal_feed), class: "card", type: "button", data: {toggle: "collapse", target: "#" + journal_title_and_date(journal_feed).gsub(" ", "")}) do %>
                <div class="card-body">
                   <h5 class="card-title"> <%= journal_feed.title %> </h5>
                   <h6 class="card-subtitle mb-2 text-muted">Last updated: <%= journal_feed.latest_journal.date %></h6>
                   <p class="card-text"></p>
                 </div>
              <% end %>
              <%= content_tag(:div, class: "journal-container collapse", id: journal_title_and_date(journal_feed).gsub(" ", "")) do %>
              <%= link_to "See all journal issues for #{journal_feed.title}", journal_feed_path(journal_feed), class: "journal-title" %>
              <h2 class="journal-date">Issue: <%= journal_feed.latest_journal.date %></h2>
              <% journal_feed.latest_journal.abstracts.each do |abstract| %>
                <%= render partial: "abstracts/form", locals: { abstract: abstract } %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </main>
</body>
