<body class="vsc-initialized">
  <main role="main" class="container">
    <div class="row row-offcanvas row-offcanvas-right">
      <div class="col-12 col-md-9">
        <%= @site %>
          <% current_user.subscriptions.each do |subscription| %>
            <% subscription.journal_feed.journals.each do |journal| %>
              <div class="journal-container">
                <h1 class="journal-title"><%= journal.title %></h1>
                <h2 class="journal-date">Issue: <%= journal.date %></h2>
                <% journal.abstracts.each do |abstract| %>
                  <div class="abstract-container">
                  <br>
                  <h4> <%= link_to abstract.title, abstract.url %> </h4>
                  <br>
                  <div> <strong>Authors:</strong>  <%= abstract.authors %></div>
                  <br>
                  <div> <%= format_abstract_body(abstract.body).html_safe %> </div>
                  <br>
                  <ul class="keyword-list">
                   <strong>Keywords:</strong>
                    <% abstract.keywords.each do |keyword| %>
                    <span class="badge badge-warning"><li class="keyword-list-item"> <%= link_to keyword.body, keyword_path(keyword)%></li></span>
                    <% end %>
                      <span class="badge badge-danger">
                    </span>
                  </ul>
                  <br>
                </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </main>
</body>
