<html>
<head></head>
<body class="vsc-initialized">
  <main role="main" class="container">
    <div class="row row-offcanvas row-offcanvas-right">
      <div class="col-12 col-md-9 container">
          <% @journal_feeds.each do |journal_feed| %>
            <% journal_feed.journals.each do |journal| %>
              <%= content_tag(:button, journal_title_and_date(journal), class: "btn btn-primary", type: "button", data: {toggle: "collapse", target: "#" + journal_title_and_date(journal).gsub(" ", "")}) %>
              <% if current_user.email == "ejpgraham@gmail.com" %>
                <%= link_to "Delete", journal, method: :delete %>
              <% end %>
              <%= content_tag(:div, class: "journal-container collapse", id: journal_title_and_date(journal).gsub(" ", "")) do %>
                <h1 class="journal-title"><%= journal.title %></h1>
                <h2 class="journal-date">Issue: <%= journal.date %></h2>
                <% journal.abstracts.each do |abstract| %>
                  <%= render partial: "abstracts/form", locals: { abstract: abstract } %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </main>
</body>
