<body class="vsc-initialized">
<main role="main" class="container">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-12 col-md-9">
      <%= @site %>
      <h2>Abstracts</h2>
        <% current_user.subscriptions.each do |subscription| %>
          <% subscription.journal_feed.journals.each do |journal| %>
            <% journal.abstracts.each do |abstract| %>
              <br>
              <h4> <%= link_to abstract.title, abstract.url %> </h4>
              <br>
              <div> <strong>Authors:</strong>  <%= abstract.authors %></div>
              <br>
              <div> <%= format_abstract_body(abstract.body).html_safe %> </div>
              <br>
              <ul class="keyword-list">
               <strong>Keywords:</strong>
                <% abstract.keywords.each do |keyword| %>
                <li class="keyword-list-item"> <%= link_to keyword.body, keyword_path(keyword)%> </li>
              <% end %>
              <br>
            <% end %>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
</body>
