

<style type="text/css">
  .background {
    background-image: url(<%= asset_path randomized_background_image %>);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
</style>
<html class="">
  <h1 class="website-title">Abstractedly</h1>
  <body class="background">
    <div class="text-center vsc-initialized login-box align-bottom">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <form class="form-signin">
      <div class="field">
        <%= f.email_field :email, class: "entry", autofocus: true, placeholder: "Email Address" %>
      </div>
      <div class="field">
        <%= f.password_field :password, autocomplete: "off", class: "entry", placeholder: "Password" %>
      </div>
      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
    </form>
    <div class="links-container">
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="image-container container text-center">
    <h3 class="image-container-header">Keeping up with scientific literature is hard. Make it easier with Abstractedly.</h3>
    <div class="row">
      <div class="image col-sm text-center">
        <%= image_tag("book", class: "icon") %>
        <p>Subscribe to your favorite scientific journals.</p>
      </div>
      <div class="image col-sm text-center">
        <%= image_tag("download", class: "icon") %>
        <p>Abstractedly automatically updates with the latest journal issues!</p>
      </div>
      <div class="image col-sm text-center">
        <%= image_tag("abstracts", class: "icon") %>
        <p>View and compare article abstracts from multiple journals.</p>
      </div>
    </div>
  </div>
</body>

  <link href="https://fonts.googleapis.com/css?family=Vollkorn+SC" rel="stylesheet">
</html>
