<%= form_tag(keywords_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Keywords" %>
<%= submit_tag "Search" %>
<% end %>

<% if @keywords %>
  <% (@keywords.group(:body).sort_by { |keyword| keyword.body } ).each do |keyword| %>
    <%= link_to keyword.body, keyword_path(keyword.id) %>
  <% end %>
<% end %>

<h2>Top Keywords:</h2>
<ul>
<% @top_keywords.each do |top_keyword_body, count_and_object| %>
  <li> <%= link_to top_keyword_body, keyword_path(count_and_object[1].id) %> , <%= count_and_object[0] %> </li>
<% end %>
</ul>
