
<body class="vsc-initialized">
  <main role="main" class="container">
    <div class="row row-offcanvas row-offcanvas-right">
      <div class="col-12 col-md-9">
        <h5>Now viewing abstracts associated with the <strong><%= @keyword.body %></strong> keyword</h5>
        <% @abstracts.each do |abstract| %>
          <% if abstract.has_keyword?(@keyword) && abstract.user_is_subscribed_to_parent_journal?(current_user) %>
            <br>
            <h4> <%= link_to abstract.title, abstract.url %> </h4>
            <br>
            <div> <strong>Authors:</strong>  <%= abstract.authors %></div>
            <br>
            <div> <%= abstract.body.html_safe %> </div>
            <br>
            <ul class="keyword-list">
             <strong>Keywords:</strong>
              <% abstract.keywords.each do |keyword| %>
              <li class="keyword-list-item"> <%= link_to keyword.body, keyword_path(keyword.id) %></li>
            <% end %>
            <br>
          <% end %>
        <% end  %>
      </div>
    </div>
  </div>
</body>
