<!-- Journals index -->
<body class="vsc-initialized">
<main role="main" class="container">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-12 col-md-9">
      <h2>Abstracts</h2>
      <% @journals.each do |journal| %>
        <br>
        <% if journal.subscribed %>
          <% journal.abstracts.each do |abstract| %>
            <br>
            <h4> <%= link_to "#{abstract.title}", abstract.url %> </h4>
            <br>
            <div> <strong>Authors:</strong>  <%= abstract.authors %></div>
            <br>
            <div> <%= format_abstract_body(abstract.body).html_safe %> </div>
            <br>
            <ul class="keyword-list">
             <strong>Keywords:</strong>
              <% abstract.keywords.each do |keyword| %>
              <li class="keyword-list-item"> <%= keyword.body %> </li>
            <% end %>
            <br>
          <% end %>
        </ul>
        <br>
      <% end %>
      <% end %>
    </div>
  <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
    <div class="">
      <h2>Available Journals</h2>
    </div>
    <% @journals.each do |journal| %>
        <br>
        <strong><%= journal.title %></strong>
        <br>
        <%= form_for journal do |f| %>
          <%= f.label :subscribed %>
          <%= f.check_box :subscribed %>
          <%= f.submit "Update", class: "btn btn-success" %>
            <br>
            Keywords:
            <br>
        <% end  %>
        <% unique_keywords(journal).each do |keyword| %>
            <%= keyword %>
          <% end %>
          <br>
      <% end %>
  </div>
  </div>
</div>
</body>

<link href="https://fonts.googleapis.com/css?family=Vollkorn+SC" rel="stylesheet">
