<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type =>  'image/png' %>
  <title>Abstractedly</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Vollkorn+SC" rel="stylesheet">
  <style type="text/css">
    #jumbo-background {
      background-image: url(<%= asset_path randomized_background_image %>);
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
  <style type="text/css">
    .background {
      background-image: url(<%= asset_path randomized_background_image %>);
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
    }
  </style>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="http://netdna.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<% if current_user %>
  <body>
    <div class="jumbotron jumbotron-fluid" id="jumbo-background">
      <div class="container">
        <h1 class="display-3">Abstractedly</h1>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Subscription Manager', root_path, :class => 'nav-link text-secondary' %>
        </li>
        <li class="nav-item">
          <%= link_to 'View Abstracts', journal_feeds_path, :class => 'nav-link text-secondary' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Search Abstracts by Keyword', abstracts_path, :class => 'nav-link text-secondary' %>
        </li>
        <li class='nav-item nav-link'>
          Signed in as: <strong><%= current_user.email %></strong>
        </li>
        <li class="nav-item">
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'nav-link text-secondary' %>
        </li>
      </ul>
  </nav>
    <% if notice || alert %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield :form_errors %>
  </body>
  <link href="https://fonts.googleapis.com/css?family=Vollkorn+SC" rel="stylesheet">
  </html>
  <% end %>

  <%= yield %>
